<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>452171582929-eacecf48l35mt8ohptu6ur2sgadmkn6g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.452171582929-eacecf48l35mt8ohptu6ur2sgadmkn6g</string>
	<key>API_KEY</key>
	<string>AIzaSyBW39K0MxPidJcj9vkS3CZ4hat5-ALrhVI</string>
	<key>GCM_SENDER_ID</key>
	<string>452171582929</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>apae.APAE</string>
	<key>PROJECT_ID</key>
	<string>apae-d1ea4</string>
	<key>STORAGE_BUCKET</key>
	<string>apae-d1ea4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:452171582929:ios:5521504596da37dbba64f0</string>
</dict>
</plist>